@CHARSET "UTF-8";

#header-wrap {
	height:42px;
	background-color:#33CCFF;
}

#content-wrap {
	width:100%;
	background-color:#e1e4e8;
}

#content {
	width:980px;
	margin:0 auto;
	background-color:#FFFFFF;
}


#footer-wrap{
	height:82px;
	background-color:#33CCFF;
}
